:root {
  --dark-color: rgb(91, 91, 91);
  --dark-color-alpha: rgba(0, 0, 0, 0.3);
  --light-color-alpha: rgba(255, 255, 255, 0.3);
  --border-rad: 0.5rem;
  --card-height: 250px;
  --card-width: 190px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: linear-gradient(to bottom, #f3bfa9, #bd96d7, #515598) no-repeat
    fixed;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 3rem 0;
  font-size: 3.5rem;
  font-weight: inherit;
  text-shadow: 1px 1px 1px var(--dark-color-alpha);
}

.bar {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#search {
  min-width: 300px;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--dark-color-alpha);
}

#gens ul {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 0.5rem;
}

#gens ul li button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  background: var(--dark-color-alpha);
  color: white;
  border: 1px solid white;
  box-shadow: 1px 1px 1px var(--dark-color-alpha);
  transition: 0.1s;
}

#gens ul li button:hover {
  box-shadow: 0 0 5px white;
}

main {
  display: flex;
  justify-content: center;
}

.card-container {
  /*width: 70vw;
   display: flex;
  flex-wrap: wrap;
  justify-content: left;*/
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 0 3rem 0;
}

.card {
  position: relative;
  color: white;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--border-rad);
  box-shadow: 2px 1px 2px var(--dark-color-alpha);
  cursor: pointer;
  transition: 0.25s;
}

.card:hover {
  box-shadow: 0 0 10px white;
}

.card .image {
  background: var(--light-color-alpha);
  height: var(--card-width);
  border-radius: var(--border-rad) var(--border-rad) 0 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  max-height: calc(var(--card-width) * 0.85);
  max-width: calc(var(--card-width) * 0.85);
  margin-top: 0.4rem;
}

.card .info {
  background: var(--dark-color-alpha);
  padding: 0.5rem;
  height: calc(var(--card-height) - var(--card-width));
  border-radius: 0 0 var(--border-rad) var(--border-rad);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.card .info h2 {
  font-weight: inherit;
  font-size: 1rem;
  padding: 0 0 3%;
}

.types img {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-filter: drop-shadow(0 0 1px var(--dark-color-alpha));
  filter: drop-shadow(0 0 1px var(--dark-color-alpha));
  margin-right: 0.2rem;
}

.types {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.gen {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;

  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.normal {
}
.fire {
}
.water {
}
.grass {
}
.electric {
}
.ice {
}
.fighting {
}
.poison {
}
.ground {
}
.flying {
}
.psychic {
}
.bug {
}
.rock {
}
.ghost {
}
.dark {
}
.dragon {
}
.steel {
}
.fairy {
}

@media screen {
}
