@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Libre+Baskerville:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

input,
button {
  font-family: inherit;
}

body {
  font-family: "Assistant", sans-serif;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  margin: 1.5rem 0 2.5rem;
}
h2 {
  margin: 2rem 0 1.5rem;
}
.container {
  display: flex;
  min-height: 100vh;
}

.hero_image {
  width: 35vw;
  background: url("https://source.unsplash.com/75xPHEQBmvA") no-repeat fixed top
    center/cover;
}

.content {
  width: 65vw;
  padding: 3rem;
  background-color: rgb(35, 34, 40);
  color: white;
}

#name,
#age {
  display: block;
  margin: 0.5rem 0;
  border-radius: 3px;
  border: none;
}

form div {
  margin: 0 1.5rem;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: inherit;
}

button {
  background-color: white;
  color: rgb(35, 34, 40);
  border: none;
  border-radius: 3px;
  padding: 0.8rem 1.5rem;
  margin: 1.5rem 0;
  font-size: inherit;
}

button:hover {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.result_container {
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  border: 0px solid white;
}

#result {
  margin: 1.75rem 0 2rem;
  font-size: 1.5rem;
}
